body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: rgb(71, 226, 66);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
}

.recipes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 3px solid rgb(30, 141, 26);
  border-radius: 50px;
  width: 700px;
  background-color: #FFF;
  padding: 20px;
}

.header {
  text-align: center;
}
